.login {
    background-image: url("../../../assets/img/bgImg.png");
    background-repeat: round;

    // background-size: cover;
    // background-position: center center;
    // background-attachment: fixed;
    .containers {
        height: 450px;

        &__left {

            &-top {
                &_icons {

                    svg {
                        &:first-child {
                            margin-bottom: 17px;
                        }
                    }
                }

                .text_info {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    color: var(--color-white-white, #FFF);
                    font-feature-settings: 'clig' off, 'liga' off;

                    margin-bottom: 20px;
                }
            }

            &-bottom {
                .items {

                    &_img_content {
                        width: 28%;

                        .images {
                            border-radius: 12px;
                            height: 96px;
                        }
                    }

                    &_text_content {
                        padding-left: 10px;
                        padding-top: 20px;

                        .title {
                            color: var(--color-white-white, #FFF);
                            font-family: Inter;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 18px;

                            display: flex;
                            flex-direction: column;

                            .status {
                                color: var(--color-dark-grey-neutral-deactive, #808191);
                                font-family: Inter;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 16px;
                            }

                        }

                        .after {

                            color: var(--color-dark-grey-neutral-deactive, #808191);
                            font-family: Inter;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 16px;
                        }
                    }

                }
            }
        }

        &__right {
            background: #ffffff;
            border-radius: 16px;
            padding: 20px;
            height: 100%;


            .images {
                border-radius: 12px;
                height: 96px
            }
        }
    }

}




.content {
    border-radius: 16px;
    background: #1b1d21a3;

}