.img {
    background-image: url("../../../assets/img/bgImg.png");
    background-repeat: round;
    // background-size: contain;


}

.container {
    height: 60%;
}

.images {
    border-radius: 12px;
    height: 96px;
}

.content {
    border-radius: 16px;
    background: #1b1d21a3;

}